<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('navbar') %>
    <p>Chào mừng giáo viên: <%= tenGV %></p>
    <p>Học kỳ: <%= hocKy %></p>
    <p>Năm học: <%= namHoc %></p>
    <p>Mã bộ môn: <%= maBM %></p>
    <p>Mã chức vụ: <%= maCV %></p>

</body>
</html>