<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
</head>
<body>
    <%- include('navbar') %>
    <p>Chào mừng giáo viên: <%= user.tenGV %></p>
    <p>Học kỳ: <%= user.hocKy %></p>
    <p>Năm học: <%= user.namHoc %></p>
    <p>Mã bộ môn: <%= user.maBM %></p>
    <p>Mã chức vụ: <%= user.maCV %></p>
    <p>Chức vụ: <%= user.tenCV %></p>

</body>
</html>